@media only screen and (min-width: 30rem) {
    .hamburger {
        display: none;
    }
    header {
        grid-template-columns: 34px 1fr 1fr;
    }
    header h1 {
        font-size: larger;
    }
    .navigation {
        display: block;
        grid-column: 3 / 4;
    }
    .navigation ul {
        display: flex;
        list-style: none;
    }
    ul li {
        border: none;
    }

    .cards.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .card-box {
        margin: .5rem;
        padding: 2rem 1rem;
    }
    .cards {
        margin: 1rem 0;
        
    }
    .cards.list .card-box {
        margin: 0 1rem;
        padding: .5rem;
        box-shadow: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 10rem;
    }
    .cards.list .card-box h3 {
        grid-column: 1 / 5;
        padding: .5rem;
    }
    .cards.list .card-box:nth-child(even) {
        background-color: #fff;
        color: #000;
    }
    .cards.list .card-box:nth-child(odd) {
        background-color: blanchedalmond;
        color: #000;
    }
}