@media only screen and (min-width: 30rem) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        justify-self: center;
    }
    .card-box {
        margin: 1rem;
        padding: 2rem 1rem;    
    }

    .cards.list .card-box {
        margin: 0 1rem;
        padding: .5rem;
        box-shadow: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 10rem;
    }
    .cards.list .card-box h3 {
        grid-column: 1 / 5;
        padding: .5rem;
    }
    .cards.list .card-box:nth-child(even) {
        background-color: #fff;
        color: #000;
    }
    .cards.list .card-box:nth-child(odd) {
        background-color: blanchedalmond;
        color: #000;
    }
}